{%extends 'base.html'%}
{% block title %}
    STACKED
{% endblock %}

{% block content %}

    <div class="pos_cen">

    <image class="img_deg" src="{{ url_for('static', filename='images/group2.jpg')}}" width="1880"></image>
    </div>

    <div class="main_text_pos">
    <p > STACKED.</p>
    </div>

    <div class="home_text_pos">
        <p > Home</p>
        </div>

    <div class="profile_text_pos">
    <p > Profile</p>
    </div>

    <div class="works_text_pos">
        <p > Works</p>
        </div>
{% endblock %}